h2 {
    background: purple;
}
.par-1{
    background: pink;
    font-size: 32pt
    color: green
}
.par-2{
    border: 10px solid yellow;
    borfer-radius: 10px;
    font-size: 24pt;
    margin-bottom: 60px;
    margin-left: 60px;
    padding-bottom: 30px;
    padding-left: 30px;

}
.par-3{
    font-weight: bold;
    font-size: 22px
    font-family: Courier New
}
.par-4{
    font-size: 24pt;
    text-shadow: green 0 0 2px;
}
